/*************************/
/******  homepage  ***********/
/*************************/

div {
	border: 1px dashed red;
}

.home, 
.site-title, 
.site-nav,
.footer-heading {
	font-family: 'Montserrat', sans-serif;
}

div.wrapper {
	max-width: 1064px;
}

a.page-link.About {
	display: none;
}

.post-list,
.post-list li,
.post-list h2 {
	margin: 0;
	padding: 0;
}


/*************************/
/******  page ***********/
/*************************/

.dance-detail,
.post-title {
	border: 1px solid blue;
	font-family: 'Montserrat', sans-serif;
}

.description {
	font-family: 'Raleway', sans-serif;
}

/*************************/
/******  post ***********/
/*************************/

h1.post-title {
	font-family: 'Montserrat', sans-serif;
}

article.post-content {
	font-family: 'Raleway', sans-serif;
}
