/*************************/
/******  homepage  ***********/
/*************************/
body {
	background-color: #290535;
}

div {
	border: 1px dashed red;
}

.home, 
.site-title, 
.site-nav,
.footer-heading {
	font-family: 'Montserrat', sans-serif;
	color: white;
}

div.wrapper {
	max-width: 1064px;
}

.trigger {
	color: white;
}

a.page-link.About {
	display: none;
}

.post-list,
.post-list li,
.post-list h2 {
	margin: 0;
	padding: 0;
}


.cover-photo {
	width: 100%;
}

/*************************/
/******  page ***********/
/*************************/

.dance-detail,
.post-title {
	border: 1px solid blue;
	font-family: 'Montserrat', sans-serif;
	color: white;
}

.description {
	font-family: 'Raleway', sans-serif;
	list-style: none;
	color: white;
}

/*************************/
/******  post ***********/
/*************************/

h1.post-title {
	font-family: 'Montserrat', sans-serif;
}

.post {
	font-family: 'Raleway', sans-serif;
}
