/*************************/
/******  homepage  ***********/
/*************************/

div {
	border: 1px dashed red;
}

.home, 
.site-title, 
.site-nav,
.footer-heading {
	font-family: 'Montserrat', sans-serif;
}

a.page-link.About {
	display: none;
}

.post-list,
.post-list li,
.post-list h2 {
	margin: 0;
	padding: 0;
}


/*************************/
/******  page ***********/
/*************************/

.dance-detail,
.post-title {
	border: 1px solid blue;
	font-family: 'Montserrat', sans-serif;
}

.description {
	font-family: 'Raleway', sans-serif;
}