---
layout: default
---
	  {% include head.html %}

<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>

  </header>

  <article class="post-content">
    {{ content }}
  </article>

</div>

<!-- jQuery -->
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>

<!-- fancybox -->
<link rel="stylesheet" href="../css/jquery.fancybox.css" type="text/css" media="screen" />
<script type="text/javascript" src="../js/jquery.fancybox.pack.js"></script>